//====================================================================================================

//====================================================================================================
/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/

.header {

	position: absolute;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 35px;

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 85px;
	}

	/* .header__menu */

	&__menu {}

	/* .header__logo */

	&__logo {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		z-index: 2;
	}

	@media (max-width:767px) {
		&__logo {
			top: 15px;
		}
	}
}

.menu {

	/* .menu__icon */

	&__icon {}

	/* .menu__body */

	&__body {
		overflow: auto;
	}

	/* .menu__list */

	&__list {
		display: flex;

		li {
			position: relative;
			padding: 0 37.5px;

			&:nth-child(2) {
				padding: 0 110px 0 37.5px;
			}

			&:nth-child(3) {
				padding: 0 37.5px 0 110px;
			}

			&::after {
				content: "";
				width: 2px;
				height: 2px;
				background-color: #4d4959;
				border-radius: 50%;
				position: absolute;
				right: 0;
				top: 50%;
				margin: 3px 0px 0px 0px;
			}

			&:last-child {
				&::after {
					display: none;
				}
			}

			&:nth-child(2) {
				&::after {
					display: none;
				}
			}
		}
	}

	/* .menu__link */

	&__link {
		font-size: 13px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #4d4959;
	}

	@media (max-width:767px) {
		&__body {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #4d4959;
			padding: 150px 0px 20px 0px;

			@include tr(0, -100%, 0);


			&.active {
				@include anim(0.3s, 0s);
				@include tr(0, 0, 0);
			}
		}

		&__list {
			flex-direction: column;
			justify-content: center;
			align-items: center;

			li {
				padding: 0 0 45px 0;

				&:nth-child(2),
				&:nth-child(3) {
					padding: 0;
					padding: 0 0 35px 0;
				}

				&:last-child {
					padding: 0;
				}

				&:after {
					width: 4px;
					height: 4px;
					background-color: #fff;
					right: 50%;
					top: 40px;
					margin: 0px -2px 0px 0px;
				}

				&:nth-child(2) {
					&::after {
						display: inline-block;
					}
				}
			}
		}

		&__link {
			color: #fff;
			font-size: 20px;
		}
	}
}

.icon-menu {
	@media (max-width:767px) {
		display: block;
		position: absolute;
		top: 13px;
		right: 20px;
		width: 33px;
		height: 18px;
		cursor: pointer;
		z-index: 5;

		span {
			@include anim(0.3s, 0s);
			top: 8px;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #4d4959;

			&:first-child {
				top: 0px;
			}

			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}

		&.active {
			span {
				background-color: #fff;
				@include scale(0);

				&:first-child {
					@include rotate(-45deg);
					top: 8px;
				}

				&:last-child {
					@include rotate(45deg);
					bottom: 8px;
				}
			}
		}
	}


}